.container_header {
    padding: 50px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .title {
        font-size: 30px;
        line-height: normal;
        font-weight: 700;
    }

    .menu_information {
        display: flex;
        gap: 40px;

        button {
            font-size: 17px;
            font-weight: 500;
            border: none;
            background: none;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
            position: relative;
            border-bottom: 2px solid transparent;
            padding-bottom: 3px;
            transition: border-bottom 0.3s;
        }

        button::before,
        button::after {
            content: '';
            position: absolute;
            width: 0;
            height: 3px;
            bottom: 0;
            background: #939395;
            transition: width 0.3s, left 0.3s;
        }

        button::before {
            left: 50%;
        }

        button::after {
            right: 50%;
        }

        button:hover::before {
            width: 30%;
        }

        button:hover::after {
            width: 30%;
        }
    }
}

@media only screen and (max-width: 767.98px) {
    .container_header {
        padding: 50px 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1180.98px) {
    .container_header {
        padding: 50px 10px;
    }
}