.container_footer {

    .title {
        font-size: 30px;
        line-height: normal;
        font-weight: 700;
        border-bottom: 2px solid #AEE2FF;
        transition: border-bottom 0.3s;
        padding: 50px 70px 30px;
    }

    .footer {
        padding: 50px 70px;
        display: grid;
        gap: 12px;
        align-items: center;

        .footer_item {
            display: flex;
            justify-content: space-between;

            .footer_introduce {
                display: grid;
                gap: 22px;

                p {
                    color: #939395;
                    font-size: 23px;
                    font-weight: 500;
                    margin: 0;
                }
            }

            .footer_contact {
                display: grid;
                gap: 22px;

                p {
                    color: #939395;
                    font-size: 23px;
                    font-weight: 500;
                    margin: 0;
                }
            }
        }

        .logo_item {
            display: flex;
            gap: 10px;

            svg {
                cursor: pointer;
                transition: all 0.3 ease;
            }

            svg:hover {
                path {
                    fill: #939395;
                }
            }
        }
    }


}

@media only screen and (max-width: 767.98px) {
    .container_footer {
        .title {
            padding: 50px 20px 30px;
        }
       .footer {
        padding: 50px 20px;
        .footer_item {
            display: grid;
            gap: 18px;
            .footer_introduce {
                display: flex;
                p {
                    font-size: 18px;
                }
            }
            .footer_contact {
                p {
                    font-size: 18px;
                }
            }
        }
        .logo_item {
            display: flex;
            justify-content: center;
            align-items: center;
        }
       }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1180.98px) {
    .container_footer {
        .title {
            padding: 50px 20px 30px;
        }
        .footer {
            padding: 50px 20px;
        }
    }
}